.btnBase {
    background: none;
    border: none;
    height: 2.5rem;
    padding: 0 1.5rem;
    border-radius: 2.5rem;
    transition: background-color 0.3s ease;
    
}

.fullWidth {
    width: 100%;
}

/* VARIANTS */

.secondary{
    background-color: #EAEBEB;
    color: black;
}

.secondary:hover{
    background-color: #DCDDDD;
}

.primary{
    background-color: #003824;
    color: white;
}

.primary:hover{
    background-color: #336050;
}

.dark {
    background-color: #1A1A1A;
    color: white;
}

.dark:hover {
    background-color: #393939;
}

/* BUTTON STYLES */