.btnBase {
    background: none;
    border: none;
    text-align: left;
    width: 15rem;
    height: 5rem;
    border-radius: 0.25rem;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 0 1rem;
    cursor: pointer;

    font-size: 1.1rem;
    font-weight: 400;
}

/* VARIANTS */

.secondary{
    background-color: #EAEBEB;
    color: black;
}

.secondary:hover{
    background-color: #DCDDDD;
}

.primary{
    background-color: #003824;
    color: white;
}

.primary:hover{
    background-color: #336050;
}

.dark {
    background-color: #1A1A1A;
    color: white;
}

.dark:hover {
    transform: translateY(-0.15rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* BUTTON STYLES */