.loginBtn {
    gap: 2rem;
}

.btnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 2rem;
}

.inputField {
    width: 26rem;
    /* margin-bottom: 1rem; */
    /* background-color: red; */
}